version: "3.9"

services:
  app:
    build: .
    container_name: kolesa_app
    ports:
      - "9090:9090"
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=admin
      - DB_PASSWORD=password
      - DB_NAME=kolesa_db
  
  db:
    image: postgres:16
    container_name: kolesa_db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=kolesa_db
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
